<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>침입탐지</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<div class="buttons">
    <h1>02. Guest 계정관리</h1>
    <button class="fill"><a href='/bat/01'>점검하기</a></button>
    <button class="up"><a href='/download/01'>pdf만들기</a></button>
    <button class="pulse"><a href='/download_pdf/01'>pdf다운받기</a></button>
    <button class="offset"><a href='/email/01'>email로 보내기</a></button>
</div>



</body>

</html>
