<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>침입탐지</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="buttons">
  <h1>침입<code>탐지</code></h1>
    <button class="fill"><a href='/01'>01. Administrator 계정관리</a></button>
    <button class="pulse"><a href='/02'>02. Guest 계정관리</a></button>
    <button class="close"><a href='/03'>03. 계정 잠금 정책 설정</a></button>
    <button class="raise"><a href='/04'>04. 암호 정책 설정</a></button>
    <button class="up"><a href='/05'>05. UAC</a></button>
    <button class="slide"><a href='/06'>06. CMD 파일권한설정</a></button>
    <button class="offset"><a href='/07'>07. 사용자 디렉터리 접근제한</a></button>
    <button class="fill"><a href='/08'>08. 하드디스크 기본공유 제거</a></button>
    <button class="pulse"><a href='/09'>09. SAM 파일 접근통제</a></button>
    <button class="close"><a href='/10'>10. 최신 서비스팩 적용</a></button>
    <button class="raise"><a href='/11'>11. 공유권한 및 사용자그룹 설정</a></button>
    <button class="up"><a href='/12'>12. 로그오프나 워크스테이션 잠김</a></button>
    <button class="slide"><a href='/13'>13. 이벤트 뷰어 설정</a></button>
    <button class="offset"><a href='/14'>14. 마지막 로그온 사용자 계정 숨김</a></button>
    <button class="close"><a href='/15'>15. 로그온하지 않은 사용자 시스템 종료 방지</a></button>
    <button class="raise"><a href='/16'>16. 백신 프로그램 설치</a></button>
    <button class="up"><a href='/17'>17. Null Session 설정</a></button>
    <button class="slide"><a href='/18'>18. 레즈스트리 보호차단</a></button>
    <button class="offset"><a href='/19'>19. AutoLogon 기능제어</a></button>
    <button class="offset"><a href='/20'>전체 점검</a></button>
</div>
  
  

</body>

</html>
