<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>침입탐지</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="buttons">
  <h1>침입<code>탐지</code></h1>
    <button class="fill"><a href='/01'>01. Administrator 계정관리</a></button>
  <button class="pulse"><a href='/02'>02. Guest 계정관리</a></button>
  <button class="close">Close</button>
  <button class="raise">Raise</button>
  <button class="up">Fill Up</button>
  <button class="slide">Slide</button>
  <button class="offset">Offset</button>
</div>
  
  

</body>

</html>
